html {
    font-size: 20px;
    height: 2000px;
}

body {
    margin: 0!important;
    width: 90%;
}

#title {
    color: #31db4a;
    font-size: 3rem;
    text-align: center;
}

.header {
    top: 0;
    width: 100%;
    height: 100px;
    background-color: rgb(73, 137, 255);
    position: relative;
}

ul li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}
ul {
    padding: 0;
    justify-content: space-evenly;
}

.navigator {
    width: 100%;
    height: 40px;
    background-color: rgb(123, 203, 250);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.space-header {
    margin-top: 10px;
}

.box1 {
    width: 100px;
    height: 100px;
    background-color: red;
    padding: 10px;
    background-clip: border-box;
    border: 1px solid red;
    box-sizing: border-box;
    position: relative;
    top: 50px;
    left: 20px;
}
.box3::after {
    content: attr(title);
}

.box2 {
    width: calc(100px + 50px);
    height: 100px;
    background-color: rgb(71, 71, 220);
    border: 1px solid rgb(193, 80, 80);
    box-sizing: border-box;
}

.box3 {
    width: 300px;
    height: 200px;
    background-color: rgb(68, 206, 68);
    position: absolute;
}

.box3-child {
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    position: absolute;                 
    right: 0;
}

.form-container {
    background-color: #eaeaea;
}
.form__row {
    display: flex;
    padding: 10px;
}
.form__label {
    margin-right: 10px;
    min-width: 100px;
}
.form__input {
    flex: 1;
}

.feature-layout {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.feature-item {
    margin: 10px;
}
.feature_1 {
    background-color: #5eed74;
    flex: 1;
    order: 1;
}
.feature_2 {
    background-color: #ed7541;
    flex: 2;
    order: 2;
}
.feature_3 {
    background-color: rgb(118, 240, 240);
    flex: 1;
    order: 3;
}

.chart-layout {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
.chart-item {
    background-color: rgb(79, 129, 255);
    height: calc(var(--percent)*4);
    width: 100px;
    text-align: center;
    animation: moving ease-in 2s;
}

@media (min-width: 768px) {
    .feature-layout {
        flex-direction: row;
    }
}

@keyframes moving {
    from {
        opacity: 0;
        height: calc(var(--percent)*4 - 200px);
    }
    to {
        opacity: 1;
        height: calc(var(--percent)*4);
    }
}